<section class="login-container bg-light p-3 p-md-4 p-xl-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-11">
        <div class="card border-light-subtle shadow-sm">
          <div class="row g-0">
            <div class="col-12 col-md-6">
              <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="assets/image.jpeg" alt="Welcome back you've been missed!">
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
              <div class="col-12 col-lg-11 col-xl-10">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="text-center mb-4">
                    <a href="#!">
                      <img src="assets/dhyan.png" alt="Logo" width="175" height="57">
                    </a>
                  </div>

                      <div class="col-12">
                        <div class="d-grid">
                          <button type="button" (click)="normalLoginClick()" class="btn btn-dark btn-lg">
                            Login with Password
                          </button>
                        </div>
                      </div>
                  <p class="text-center mt-4 mb-4">Or Sign in with Passkey</p>

                  <form (ngSubmit)="login()" #loginForm="ngForm">
                    <div class="row gy-3 overflow-hidden">
                      
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control" placeholder="Username" required />
                          <label for="username" class="form-label">Username</label>
                          <div *ngIf="!username && loginForm.submitted" class="text-danger">
                            Username is required
                          </div>
                        </div>
                      </div>

                      <div class="col-12" style="height: 20px;"></div>

                      <div class="col-12">
                        <div class="d-grid">
                          <button type="submit" [disabled]="loginForm.invalid" class="btn btn-dark btn-lg">
                            Login
                          </button>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="d-grid">
                          <button type="button" (click)="signUpClick()" class="btn btn-dark btn-lg">
                            Sign Up
                          </button>
                        </div>
                      </div>

                    </div>
                  </form>

                </div> <!-- End of card-body -->
              </div> <!-- End of inner col -->
            </div> <!-- End of col-md-6 -->
          </div> <!-- End of row g-0 -->
        </div> <!-- End of card -->
      </div> <!-- End of col-xxl-11 -->
    </div> <!-- End of row justify-content-center -->
  </div> <!-- End of container -->
</section>
