.login-container {
    min-height: 100vh; /* Set a minimum height for the section */
    display: flex;
    align-items: center; /* Center content vertically */
  }
  
  .container {
    max-width: 100%;
  }